Data Glacier Summer 2022 Virtual Internship

G2M Cab Investment Analysis

In [18]:
#Importing data sets
import pandas as pd
import matplotlib.pyplot as plt


cabDF = pd.read_csv('DataSets\Cab_Data.csv')
cityDF = pd.read_csv('DataSets\City.csv')
customerDF = pd.read_csv('Datasets\Customer_ID.csv')
transactionDF = pd.read_csv('DataSets\Transaction_ID.csv')

In [24]:
print('Cab DF')
print(cabDF.describe())
print(cabDF[:3])

X = cabDF['KM Travelled']
Y =cabDF['Price Charged']


#fig = plt.figure()
#plt.scatter(X,Y)
#plt.show()

Cab DF
       Transaction ID  Date of Travel   KM Travelled  Price Charged  \
count    3.593920e+05   359392.000000  359392.000000  359392.000000
mean     1.022076e+07    42964.067998      22.567254     423.443311
std      1.268058e+05      307.467197      12.233526     274.378911
min      1.000001e+07    42371.000000       1.900000      15.600000
25%      1.011081e+07    42697.000000      12.000000     206.437500
50%      1.022104e+07    42988.000000      22.440000     386.360000
75%      1.033094e+07    43232.000000      32.960000     583.660000
max      1.044011e+07    43465.000000      48.000000    2048.030000

        Cost of Trip
count  359392.000000
mean      286.190113
std       157.993661
min        19.000000
25%       151.200000
50%       282.480000
75%       413.683200
max       691.200000
   Transaction ID  Date of Travel   Company        City  KM Travelled  \
0        10000011           42377  Pink Cab  ATLANTA GA         30.45
1        10000012           42375  Pink Cab  ATLANTA GA         28.62
2        10000013           42371  Pink Cab  ATLANTA GA          9.04

   Price Charged  Cost of Trip
0         370.95       313.635
1         358.52       334.854
2         125.20        97.632